/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .hide-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

/* CUSTOM CSS STARTS HERE */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}

.fadeInOut {
  animation: fadeInOut 8s infinite;
}

@keyframes fadeInOut {
  0%{
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

.animated-card-right-content {
  opacity: 0;
  animation: fadeInAnimation .3s ease-in 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px); 
  }
  100% {
    opacity: 1;
    transform: translate(0); 
  } 
}

.expanded-card-wrapper {
  opacity: 0;
  animation: showExpandedCard .3s ease 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@keyframes showExpandedCard {
  0% {
    opacity: 0;
    height: 80px;
  }
  100% {
    opacity: 1;
    height: 100%;
  } 
}
/* CUSTOM CSS ENDS HERE */
